In [10]:
import kaggle 
import pandas as pd
import os

In [12]:
# See available files 
!kaggle datasets files -d vincentvaseghi/us-cities-housing-market-data

name                              size  creationDate
--------------------------  ----------  --------------------------
city_market_tracker.tsv000  3340542588  2025-03-08 03:08:47.014000

In [13]:
# Download the dataset from Kaggle
!kaggle datasets download -d vincentvaseghi/us-cities-housing-market-data -f city_market_tracker.tsv000

Dataset URL: https://www.kaggle.com/datasets/vincentvaseghi/us-cities-housing-market-data
License(s): copyright-authors
city_market_tracker.tsv000: Skipping, found more recently modified local copy (use --force to force download)

In [15]:
# Read the tsv file in to panda dataframe 
df = pd.read_csv('city_market_tracker.tsv000', sep='\t')
df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2012-01-01,2012-01-31,30,place,6,36726,f,"Gomer, OH",Gomer,Ohio,...,NaN,NaN,NaN,NaN,0.00,NaN,NaN,"Lima, OH",30620,2025-02-10 14:21:52
1,2021-07-01,2021-07-31,30,place,6,26165,f,"Swartz, LA",Swartz,Louisiana,...,0.0,NaN,NaN,NaN,0.20,0.200000,0.200000,"Monroe, LA",33740,2025-02-10 14:21:52
2,2017-10-01,2017-10-31,30,place,6,17260,f,"Waconia, MN",Waconia,Minnesota,...,0.0,0.4,0.073469,0.133333,0.12,-0.346667,-0.143158,"Minneapolis, MN",33460,2025-02-10 14:21:52
3,2015-08-01,2015-08-31,30,place,6,35546,f,"Whites Landing, OH",Whites Landing,Ohio,...,0.0,NaN,NaN,NaN,0.00,NaN,0.000000,"Sandusky, OH",41780,2025-02-10 14:21:52
4,2014-12-01,2014-12-31,30,place,6,21159,f,"Alondra Park, CA",Alondra Park,California,...,NaN,NaN,NaN,NaN,0.00,NaN,NaN,"Los Angeles, CA",31084,2025-02-10 14:21:52

In [16]:
# Check structure and data types
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5747062 entries, 0 to 5747061
Data columns (total 58 columns):
 #   Column                          Dtype
---  ------                          -----
 0   period_begin                    object
 1   period_end                      object
 2   period_duration                 int64
 3   region_type                     object
 4   region_type_id                  int64
 5   table_id                        int64
 6   is_seasonally_adjusted          object
 7   region                          object
 8   city                            object
 9   state                           object
 10  state_code                      object
 11  property_type                   object
 12  property_type_id                int64
 13  median_sale_price               float64
 14  median_sale_price_mom           float64
 15  median_sale_price_yoy           float64
 16  median_list_price               float64
 17  median_list_price_mom           float64
 18  median_list_price_yoy           float64
 19  median_ppsf                     float64
 20  median_ppsf_mom                 float64
 21  median_ppsf_yoy                 float64
 22  median_list_ppsf                float64
 23  median_list_ppsf_mom            float64
 24  median_list_ppsf_yoy            float64
 25  homes_sold                      float64
 26  homes_sold_mom                  float64
 27  homes_sold_yoy                  float64
 28  pending_sales                   float64
 29  pending_sales_mom               float64
 30  pending_sales_yoy               float64
 31  new_listings                    float64
 32  new_listings_mom                float64
 33  new_listings_yoy                float64
 34  inventory                       float64
 35  inventory_mom                   float64
 36  inventory_yoy                   float64
 37  months_of_supply                float64
 38  months_of_supply_mom            float64
 39  months_of_supply_yoy            float64
 40  median_dom                      float64
 41  median_dom_mom                  float64
 42  median_dom_yoy                  float64
 43  avg_sale_to_list                float64
 44  avg_sale_to_list_mom            float64
 45  avg_sale_to_list_yoy            float64
 46  sold_above_list                 float64
 47  sold_above_list_mom             float64
 48  sold_above_list_yoy             float64
 49  price_drops                     float64
 50  price_drops_mom                 float64
 51  price_drops_yoy                 float64
 52  off_market_in_two_weeks         float64
 53  off_market_in_two_weeks_mom     float64
 54  off_market_in_two_weeks_yoy     float64
 55  parent_metro_region             object
 56  parent_metro_region_metro_code  int64
 57  last_updated                    object
dtypes: float64(42), int64(5), object(11)
memory usage: 2.5+ GB
None