In [38]:
#pip install kaggle

In [10]:
import kaggle 
import pandas as pd
import os

In [12]:
# See available files 
!kaggle datasets files -d vincentvaseghi/us-cities-housing-market-data

name                              size  creationDate
--------------------------  ----------  --------------------------
city_market_tracker.tsv000  3340542588  2025-03-08 03:08:47.014000

In [13]:
# Download the dataset from Kaggle
!kaggle datasets download -d vincentvaseghi/us-cities-housing-market-data -f city_market_tracker.tsv000

Dataset URL: https://www.kaggle.com/datasets/vincentvaseghi/us-cities-housing-market-data
License(s): copyright-authors
city_market_tracker.tsv000: Skipping, found more recently modified local copy (use --force to force download)

In [15]:
# Read the tsv file in to panda dataframe 
df = pd.read_csv('city_market_tracker.tsv000', sep='\t')
df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2012-01-01,2012-01-31,30,place,6,36726,f,"Gomer, OH",Gomer,Ohio,...,NaN,NaN,NaN,NaN,0.00,NaN,NaN,"Lima, OH",30620,2025-02-10 14:21:52
1,2021-07-01,2021-07-31,30,place,6,26165,f,"Swartz, LA",Swartz,Louisiana,...,0.0,NaN,NaN,NaN,0.20,0.200000,0.200000,"Monroe, LA",33740,2025-02-10 14:21:52
2,2017-10-01,2017-10-31,30,place,6,17260,f,"Waconia, MN",Waconia,Minnesota,...,0.0,0.4,0.073469,0.133333,0.12,-0.346667,-0.143158,"Minneapolis, MN",33460,2025-02-10 14:21:52
3,2015-08-01,2015-08-31,30,place,6,35546,f,"Whites Landing, OH",Whites Landing,Ohio,...,0.0,NaN,NaN,NaN,0.00,NaN,0.000000,"Sandusky, OH",41780,2025-02-10 14:21:52
4,2014-12-01,2014-12-31,30,place,6,21159,f,"Alondra Park, CA",Alondra Park,California,...,NaN,NaN,NaN,NaN,0.00,NaN,NaN,"Los Angeles, CA",31084,2025-02-10 14:21:52

In [28]:
# Check structure and data types
#print(df.info())

In [26]:
# Keep columns that are important for general market trend analyis and drop other columns 
# List of columns to drop
drop_cols = [
    "period_end", "period_duration", "region_type", "region_type_id", "table_id",
    "is_seasonally_adjusted", "region", "state_code", "property_type", "property_type_id",
    "median_sale_price_mom", "median_sale_price_yoy", "median_list_price_mom", "median_list_price_yoy",
    "median_ppsf", "median_ppsf_mom", "median_ppsf_yoy", "median_list_ppsf", "median_list_ppsf_mom",
    "median_list_ppsf_yoy", "homes_sold_mom", "homes_sold_yoy", "pending_sales", "pending_sales_mom",
    "pending_sales_yoy", "new_listings_mom", "new_listings_yoy", "inventory_mom", "inventory_yoy",
    "months_of_supply_mom", "months_of_supply_yoy", "median_dom_mom", "median_dom_yoy", "avg_sale_to_list",
    "avg_sale_to_list_mom", "avg_sale_to_list_yoy", "sold_above_list", "sold_above_list_mom",
    "sold_above_list_yoy", "price_drops", "price_drops_mom", "price_drops_yoy", "off_market_in_two_weeks",
    "off_market_in_two_weeks_mom", "off_market_in_two_weeks_yoy", "parent_metro_region",
    "parent_metro_region_metro_code", "last_updated"
]
df = df.drop(columns=drop_cols)

In [27]:
# Check remaining columns 
print(df.columns)

Index(['period_begin', 'city', 'state', 'median_sale_price',
       'median_list_price', 'homes_sold', 'new_listings', 'inventory',
       'months_of_supply', 'median_dom'],
      dtype='object')

In [20]:
# Check the number of duplicate rows
duplicate_rows = df[df.duplicated()]
#print(duplicate_rows.head())

In [29]:
missing_values = df.isna().mean() * 100
#missing_values

In [30]:
# display columns with more than 10% missing values 
print(missing_values[missing_values > 10])

median_list_price    16.495228
new_listings         16.850471
dtype: float64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5747062 entries, 0 to 5747061
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   period_begin       object
 1   city               object
 2   state              object
 3   median_sale_price  float64
 4   median_list_price  float64
 5   homes_sold         float64
 6   new_listings       float64
 7   inventory          float64
 8   months_of_supply   float64
 9   median_dom         float64
dtypes: float64(7), object(3)
memory usage: 438.5+ MB

In [32]:
df.head()

,period_begin,city,state,median_sale_price,median_list_price,homes_sold,new_listings,inventory,months_of_supply,median_dom
0,2012-01-01,Gomer,Ohio,23500.0,NaN,1.0,NaN,NaN,NaN,90.0
1,2021-07-01,Swartz,Louisiana,197700.0,215000.0,6.0,11.0,17.0,2.8,1148.0
2,2017-10-01,Waconia,Minnesota,240000.0,304990.0,21.0,23.0,50.0,2.4,38.0
3,2015-08-01,Whites Landing,Ohio,52000.0,NaN,1.0,NaN,1.0,1.0,131.0
4,2014-12-01,Alondra Park,California,459000.0,NaN,1.0,NaN,1.0,1.0,8.0

In [34]:
numb = len(df)
numb

5747062

In [37]:
pd.isna(df).sum().sum()

2849984

In [39]:
missing_values = df.isna().mean() * 100
missing_values

period_begin          0.000000
city                  0.000000
state                 0.000000
median_sale_price     0.112666
median_list_price    16.495228
homes_sold            0.105167
new_listings         16.850471
inventory             8.077745
months_of_supply      6.681884
median_dom            1.267117
dtype: float64

### Imputation 
The dataset has over 2.8 million missing values. Columns such as median_list_price, new_listings, and inventory have a high percentage of missing values, which affect housing market data analysis. To deal with missing values and fill them with reasonable estimates, it is important to implement imputation. Imputation allows us to fill missing values using methods like mean, median, or mode. This helps avoid losing data and preserves housing market trends. Imputation helps maintain the integrity of the dataset.

In order to apply imputation, we need to figure out the strategy for filling missing values. Are we going to use the mean or median values of the columns? To decide this, we can apply skewness analysis, which helps us determine whether to use the mean or median for filling the missing values.

In [40]:
from scipy.stats import skew

In [43]:
# calculate skewness for "median_list_price", "homes_sold", "new_listings", "inventory", "months_of_supply", "median_dom"
columns = [
    "median_list_price", "homes_sold", "new_listings", 
    "inventory", "months_of_supply", "median_dom"
]
# calculate skewness for each columns
for col in columns:
    print(f"Skewness of {col}: {skew(df[col].dropna()):.3f}")

Skewness of median_list_price: 581.898
Skewness of homes_sold: 20.810
Skewness of new_listings: 22.030
Skewness of inventory: 35.898
Skewness of months_of_supply: 19.282
Skewness of median_dom: 19.623